[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "==7.4.2"

[requires]
python_version = "3.9"

[scripts]
test = "pytest ursa_bbs_signatures"
setup = "python setup.py"
