name: ci

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build_test:
    name: Build & Test
    if: "! contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Set up Android NDK
        uses: nttld/setup-ndk@b2abc75192ee2a1ec118c8238fd86dec6d96dc43 # pin@v1.0.6
        id: setup-ndk
        with:
          ndk-version: r21e

      - name: Build
        run: yarn build
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Test
        run: yarn test:macos

      - name: License Check
        run: yarn license:check
