name: ci

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build_test:
    name: Build & Test
    if: "! contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Python version
        run: python --version

      - name: Lint
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Set up Android NDK
        uses: nttld/setup-ndk@afb4c9964b521afb97c864b7d40b11e6911bd410 # pin@v1.5.0
        id: setup-ndk
        with:
          ndk-version: r23

      - name: Build
        run: yarn build
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}

      - name: Test
        run: yarn test:macos

      - name: License Check
        run: yarn license:check
